@font-face {
    font-family: 'Neverday';
    src: url('font/neverday_extended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, input {
    font-family: 'Neverday', 'Monocraft', sans-serif;
    font-size: 30px;
}